
<head>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>
<body>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <ul id="recent_devices"></ul>

    <script type="text/javascript">

        $.getJSON('/data', function (csv) {

            // An object with datetime keys and arrays as values
            let time_buckets = {};
            csv = csv.map((c) => {
                if (time_buckets[c.date] == undefined) {
                    time_buckets[c.date] = []
                }
                time_buckets[c.date].push(c);
            });

            let columns = [Object.keys(time_buckets).reduce((acc, val) => {
                acc.push(val); return acc
            }, [null])];

            Object.keys(time_buckets).map((c) => columns.push([c, time_buckets[c].length]));

            Highcharts.chart('container', {

                chart: {
                    type: "column",
                },

                title: {
                    text: 'Number of devices on network'
                },

                data: {
                    columns: [
                        Object.keys(time_buckets).reduce((acc, val) => {
                            acc.push(val);
                            return acc;
                        }, [null]),
                        Object.keys(time_buckets).reduce((acc, val) => {
                            acc.push(time_buckets[val].length);
                            return acc;
                        }, ["Devices"]),
                    ],
                }
            });

            // Print most recent devices
            var recent_devices_elt = document.getElementById('recent_devices');
            var most_recent_key = ((x) => x[x.length-1])(Object.keys(time_buckets));
            time_buckets[most_recent_key].map((d) => {
                  var li = document.createElement("li");
                  li.appendChild(document.createTextNode(d.hostname));
                  recent_devices_elt.appendChild(li);
            })

        });

        

    </script>
</body>
